.top-header{
    font: 1em sans-serif; 
    display: grid; 
    justify-content: space-evenly;
}
.icon{
    border: 1px; 
    border-radius: 15px;
}

.wap{
    display: flex;
    gap: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    align-items: center; 
    color: green; 
}
.box{
    border: 2px solid; 
    min-height: 300px; 
    background-color: yellow; 
    font: 1em sans-serif; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-content: center; 
    padding: 10px; 
    flex-wrap: wrap;
}

.content{
    color: gray; 
    font-size: smaller"
}